{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion | Nutribalance</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" href="{% static 'img/logopestaña.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="comida">
        <img src="/static/img/comida2.png" alt="Fondo Comida">
    </div>

    <div class="Formulario">
        <h1>Iniciar Sesión</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="button" class="eye-button" onclick="togglePasswordVisibility()" aria-label="Mostrar/Ocultar Contraseña">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
            </button>

            <button type="submit">Ingresar</button>
            <p>¿No tienes una cuenta creada todavía? <a href="{% url 'register' %}">Ingrese aquí</a></p>
        </form>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>

    <script>
        function togglePasswordVisibility() {
            const passwordField = document.getElementById('id_password'); // Asegúrate de que este ID coincida
            const eyeIcon = document.getElementById('eyeIcon');

            if (passwordField) {
                if (passwordField.type === 'password') {
                    passwordField.type = 'text';
                    eyeIcon.src = '{% static "img/eye-closed-icon.png" %}';
                } else {
                    passwordField.type = 'password';
                    eyeIcon.src = '{% static "img /eye-icon.png" %}';
                }
            }
        }
    </script>

</body>
</html>